<main class="main-page-wrapper">
    <!-- Start Slider Area -->
    <div class="rn-slider-area">
        <div class="slide slider-style-1">
            <div class="container">
                <div class="row row--30 align-items-center">
                    <div class="order-2 order-lg-1 col-lg-7 mt_md--50 mt_sm--50 mt_lg--30">
                        <div class="content">
                            <div class="inner">
                            <!-- Vertically centered modal -->
                                <span class="subtitle">Welcome to my world</span>
                                <h1 class="title">Hi, I’m <span>Ali Raza</span><br>
                                    <span class="header-caption" id="page-top">
                                        <!-- type headline start-->
                                        <span class="cd-headline clip is-full-width">
                                            <span>a </span>
                                            <!-- ROTATING TEXT -->
                                            <span class="cd-words-wrapper">
                                                <b class="is-visible">Web developer.</b>
                                                <b class="is-hidden">Web designer.</b>
                                                <b class="is-hidden">Data analyst.</b>
                                            </span>
                                        </span>
                                        <!-- type headline end -->
                                    </span>
                                </h1>
                                <a class="rn-btn R1 btn-large" href="/sample/Ali Raza Web Developer.pdf">Download CV</a>
                                <div>
                                    <p class="description">
                                    Software Engineer with more than 3 years of learning experience, strong skills in working with large 
                                    datasets, scaling issues, big data, and websites. Extensive experience in Web Development 
                                    (Javascript, jQuery, HTML5, CSS3, PHP, Laravel, Ruby on Rails, React) and Python base development, 
                                    data analysis, deep learning and preprocessing, etc. Strong design skills. 
                                    Solid debugging/operational skills working with Linux platforms. Some experience with .NET/Windows 
                                    stacks as well. Experience working with caching technologies and Cloud technologies (AWS, Google Cloud, 
                                    etc) and in Linux operational support (bash scripting, Perl scripting, etc)</p>
                                </div>
                                <br>
                                <div class="description">
                        <p class="description">I am available work. Connect me with my email or Phone.
                        </p>
                        <span class="phone">Phone: <a href="tel:+923100370738">+923100370738</a></span></br>
                        <span class="mail">Email: <a href="mailto:aliraxayasin@gmail.com">aliraxayasin@gmail.com</a></span>
                    </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-12">
                                    <div class="social-share-inner-left">
                                        <span class="title">find with me</span>
                                        <ul class="social-share d-flex liststyle">
                                            <li class="facebook"><a href="https://www.facebook.com/aliraxa.yasin.37/"><i data-feather="facebook"></i></a>
                                            </li>
                                            <li class="instagram"><a href="https://www.instagram.com/ali_r_axa/"><i data-feather="instagram"></i></a>
                                            </li>
                                            <li class="linkedin"><a href="https://www.linkedin.com/in/ali-raza-069096210/"><i data-feather="linkedin"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="order-1 order-lg-2 col-lg-5">
                        <div class="inner">
                            <%= image_tag "aliraza1.jpg", alt: "Personal Portfolio Images", class:"main-img" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Slider Area -->

    <!-- Start Service Area -->
    <div class="rn-service-area rn-section-gap section-separator" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-left" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100" data-aos-once="true">
                        <span class="subtitle">Features</span>
                        <h2 class="title">What I Do</h2>
                    </div>
                </div>
            </div>
            <div class="row row--25 mt_md--10 mt_sm--10">

                <!-- Start Single Service -->
                <div data-aos="fade-up" data-aos-duration="500" data-aos-delay="100" data-aos-once="true" class="col-lg-6 col-xl-4 col-md-6 col-sm-12 col-12 mt--50 mt_md--30 mt_sm--30" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <div class="rn-service">
                        <div class="inner">
                            <div class="icon">
                                <i data-feather="menu" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                            </div>
                            <div class="content" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <h4 class="title">React Development</h4>
                                <p class="description">
                                React is a JavaScript based UI development library. Facebook and an open source developer 
                                community run it. Although React is a library rather than a language, it is widely used 
                                in web development. It works with "components", which are small pieces of reusable code 
                                that you can create once and use anywhere.
                                </p>
                                <a class="read-more-button"><i class="feather-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End SIngle Service -->
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">React Developemnt</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <div class="justify-content-center">
                        <%= image_tag "react.jpg", alt: "Personal Portfolio Images", class: "feature-image" %>
                    </div>
                    <div class="pr-2 feature-content">
                    <p>React is a JavaScript based UI development library. Facebook and an open source developer 
                    community run it. Although React is a library rather than a language, it is widely used 
                    in web development. It works with "components", which are small pieces of reusable code 
                    that you can create once and use anywhere.</p>
                    <h5>REACT COMPONENT LIFECYCLE</h5>
                    <p>These are the following React component lifecycle.</P>
                    <ul>
                        <li>Mounting</li>
                        <li>Updating</li>
                        <li>Unmounting</li>
                    </ul>
                    <h5>Mounting</h5>
                    <p>Mounting is one of the primary stages of the component lifecycle where the component is initialized 
                    and inserted into the DOM. By means of mounting, React lets its employees know that it’s time to get to work.<br >
                    The mounting phase normally includes two functions: componentWillMount() and componentDidMount(). The former is 
                    invoked before the render function is executed, and the latter is invoked right after the mounting is completed.</p>
                    <p class="border border-dark p-3">useEffect(() => {<br >
                    window.addEventListener('beforeunload', handleCloseTab);<br >
                    }, []);</p>


                    </div>
                </div>
                    </div>
                </div>
                </div>
                <!-- End Modal -->
                <!-- Start Single Service -->
                <div data-aos="fade-up" data-aos-duration="500" data-aos-delay="300" data-aos-once="true" class="col-lg-6 col-xl-4 col-md-6 col-sm-12 col-12 mt--50 mt_md--30 mt_sm--30">
                    <div class="rn-service">
                        <div class="inner">
                            <div class="icon">
                                <i data-feather="book-open"></i>
                            </div>
                            <div class="content">
                                <h4 class="title"><a href="/">App Development</a></h4>
                                <p class="description">I also have the experience in mobile app developemnt of Android and IOS development, I have experience in Android Studio.</p>
                                <a class="read-more-button" href="#"><i class="feather-arrow-right"></i></a>
                            </div>
                        </div>
                        <a class="over-link" href="/"></a>
                    </div>
                </div>
                <!-- End SIngle Service -->
                <!-- Start Single Service -->
                <div data-aos="fade-up" data-aos-duration="500" data-aos-delay="500" data-aos-once="true" class="col-lg-6 col-xl-4 col-md-6 col-sm-12 col-12 mt--50 mt_md--30 mt_sm--30">
                    <div class="rn-service">
                        <div class="inner">
                            <div class="icon">
                                <i data-feather="tv"></i>
                            </div>
                            <div class="content">
                                <h4 class="title"><a href="/">Languages</a></h4>
                                <p class="description">I have the experience in different languages like Ruby on Rails, JavaScript, Python, C++, C# and some development languages.</p>
                                <a class="read-more-button" href="#"><i class="feather-arrow-right"></i></a>
                            </div>
                        </div>
                        <a class="over-link" href="/"></a>
                    </div>
                </div>
                <!-- End SIngle Service -->
                <!-- Start Single Service -->
                <div data-aos="fade-up" data-aos-duration="500" data-aos-delay="100" data-aos-once="true" class="col-lg-6 col-xl-4 col-md-6 col-sm-12 col-12 mt--50 mt_md--30 mt_sm--30">
                    <div class="rn-service">
                        <div class="inner">
                            <div class="icon">
                                <i data-feather="twitch"></i>
                            </div>
                            <div class="content">
                                <h4 class="title"><a href="/">Frameworks</a></h4>
                                <p class="description">Open Source development, Angular JS, React, JetBrains Sevelopment Cycle, and ASP.NET these are the frameworks I have experienced.</p>
                                <a class="read-more-button" href="#"><i class="feather-arrow-right"></i></a>
                            </div>
                        </div>
                        <a class="over-link" href="/"></a>
                    </div>
                </div>
                <!-- End SIngle Service -->
                <!-- Start Single Service -->
                <div data-aos="fade-up" data-aos-duration="500" data-aos-delay="300" data-aos-once="true" class="col-lg-6 col-xl-4 col-md-6 col-sm-12 col-12 mt--50 mt_md--30 mt_sm--30">
                    <div class="rn-service">
                        <div class="inner">
                            <div class="icon">
                                <i data-feather="wifi"></i>
                            </div>
                            <div class="content">
                                <h4 class="title"><a href="/">Data Analyst</a></h4>
                                <p class="description">I also have the experience in Data Analyst and cruntly I'm working on different data Science Projects and Learning from the Udemy.</p>
                                <a class="read-more-button" href="#"><i class="feather-arrow-right"></i></a>
                            </div>
                        </div>
                        <a class="over-link" href="/"></a>
                    </div>
                </div>
                <!-- End SIngle Service -->
                <!-- Start Single Service -->
                <div data-aos="fade-up" data-aos-duration="500" data-aos-delay="500" data-aos-once="true" class="col-lg-6 col-xl-4 col-md-6 col-sm-12 col-12 mt--50 mt_md--30 mt_sm--30">
                    <div class="rn-service">
                        <div class="inner">
                            <div class="icon">
                                <i data-feather="slack"></i>
                            </div>
                            <div class="content">
                                <h4 class="title"><a href="/">Personal Portfolio</a></h4>
                                <p class="description">Here is my personal portfolio in which I'm working on it. In which include my all time working experience and lots of my development experience.</p>
                                <a class="read-more-button" href="#"><i class="feather-arrow-right"></i></a>
                            </div>
                        </div>
                        <a class="over-link" href="/"></a>
                    </div>
                </div>
                <!-- End SIngle Service -->

            </div>
        </div>
    </div>
    <!-- End Service Area  -->


<!-- Start Testimonia Area  -->
<div class="rn-testimonial-area rn-section-gap section-separator" id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <span class="subtitle">VISIT MY PORTFOLIO AND KEEP YOUR FEEDBACK</span>
                    <h2 class="title">My Portfolio</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="testimonial-activation testimonial-pb mb--30">
                    <!-- Start Single testiminail -->
                    <div class="testimonial mt--50 mt_md--40 mt_sm--40">
                        <div class="inner">
                            <div class="card-info">
                                <div class="card-thumbnail">
                                    <%= image_tag "portfolio-01.jpg", class: "tstm" %>
                                </div>
                                <div class="card-content">
                                    <span class="subtitle mt--10">Rainbow-Themes</span>
                                    <h3 class="title">Ali Raza</h3>
                                    <span class="designation">Chief Operating Officer</span>
                                </div>
                            </div>
                            <div class="card-description">
                                <div class="title-area">
                                    <div class="title-info">
                                        <h3 class="title">Android App Development</h3>
                                        <span class="date">via Upwork - Mar 4, 2015 - Aug 30, 2021</span>
                                    </div>
                                </div>
                                <div class="seperator"></div>
                                <p class="discription">
                                    Maecenas finibus nec sem ut imperdiet. Ut tincidunt est ac dolor aliquam
                                    sodales. Phasellus sed mauris hendrerit, laoreet sem in, lobortis mauris
                                    hendrerit ante. Ut tincidunt est ac dolor aliquam sodales phasellus smauris
                                    .
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--End Single testiminail -->
                    <!-- Start Single testiminail -->
                    <div class="testimonial mt--50 mt_md--40 mt_sm--40">
                        <div class="inner">
                            <div class="card-info">
                                <div class="card-thumbnail">
                                    <%= image_tag "portfolio-01.jpg", class: "tstm" %>
                                </div>
                                <div class="card-content">
                                    <span class="subtitle mt--10">Rainbow-Themes</span>
                                    <h3 class="title">Ali Raza</h3>
                                    <span class="designation">Chief Operating Officer</span>
                                </div>
                            </div>
                            <div class="card-description">
                                <div class="title-area">
                                    <div class="title-info">
                                        <h3 class="title">Android App Development</h3>
                                        <span class="date">via Upwork - Mar 4, 2015 - Aug 30, 2021</span>
                                    </div>
                                </div>
                                <div class="seperator"></div>
                                <p class="discription">
                                    Maecenas finibus nec sem ut imperdiet. Ut tincidunt est ac dolor aliquam
                                    sodales. Phasellus sed mauris hendrerit, laoreet sem in, lobortis mauris
                                    hendrerit ante. Ut tincidunt est ac dolor aliquam sodales phasellus smauris
                                    .
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--End Single testiminail -->
                    <!-- Start Single testiminail -->
                    <div class="testimonial mt--50 mt_md--40 mt_sm--40">
                        <div class="inner">
                            <div class="card-info">
                                <div class="card-thumbnail">
                                    <%= image_tag "portfolio-01.jpg", class: "tstm" %>
                                </div>
                                <div class="card-content">
                                    <span class="subtitle mt--10">Rainbow-Themes</span>
                                    <h3 class="title">Ali Raza</h3>
                                    <span class="designation">Chief Operating Officer</span>
                                </div>
                            </div>
                            <div class="card-description">
                                <div class="title-area">
                                    <div class="title-info">
                                        <h3 class="title">Android App Development</h3>
                                        <span class="date">via Upwork - Mar 4, 2015 - Aug 30, 2021</span>
                                    </div>
                                </div>
                                <div class="seperator"></div>
                                <p class="discription">
                                    Maecenas finibus nec sem ut imperdiet. Ut tincidunt est ac dolor aliquam
                                    sodales. Phasellus sed mauris hendrerit, laoreet sem in, lobortis mauris
                                    hendrerit ante. Ut tincidunt est ac dolor aliquam sodales phasellus smauris
                                    .
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--End Single testiminail -->
                    <!-- Start Single testiminail -->
                    <div class="testimonial mt--50 mt_md--40 mt_sm--40">
                        <div class="inner">
                            <div class="card-info">
                                <div class="card-thumbnail">
                                    <%= image_tag "portfolio-01.jpg", class: "tstm" %>
                                </div>
                                <div class="card-content">
                                    <span class="subtitle mt--10">Rainbow-Themes</span>
                                    <h3 class="title">Ali Raza</h3>
                                    <span class="designation">Chief Operating Officer</span>
                                </div>
                            </div>
                            <div class="card-description">
                                <div class="title-area">
                                    <div class="title-info">
                                        <h3 class="title">Android App Development</h3>
                                        <span class="date">via Upwork - Mar 4, 2015 - Aug 30, 2021</span>
                                    </div>
                                </div>
                                <div class="seperator"></div>
                                <p class="discription">
                                    Maecenas finibus nec sem ut imperdiet. Ut tincidunt est ac dolor aliquam
                                    sodales. Phasellus sed mauris hendrerit, laoreet sem in, lobortis mauris
                                    hendrerit ante. Ut tincidunt est ac dolor aliquam sodales phasellus smauris
                                    .
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--End Single testiminail -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Testimonia Area  -->

    <!-- Back to  top Start -->
    <div class="backto-top">
        <div>
            <i data-feather="arrow-up"></i>
        </div>
    </div>
    <!-- Back to top end -->

</main>