<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ali Raza || Web Developer | Personal Portfolio</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


    <!-- CSS 
    ============================================ -->
    <link rel="stylesheet" href="InBio/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="InBio/assets/css/vendor/slick.css">
    <link rel="stylesheet" href="InBio/assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="InBio/assets/css/vendor/aos.css">
    <link rel="stylesheet" href="InBio/assets/css/plugins/feature.css">
    <!-- Style css -->
    <link rel="stylesheet" href="InBio/assets/css/style.css">


  </head>

  <body class="template-color-1 spybody">
    <%= render "layouts/navbar" %>
    <%= yield %>


    <%= render "layouts/footer" %>
    <!-- JS ============================================ -->
    <script src="InBio/assets/js/vendor/jquery.js"></script>

    <script src="InBio/assets/js/vendor/feather.min.js"></script>
    <script src="InBio/assets/js/vendor/slick.min.js"></script>

    <script src="InBio/assets/js/vendor/text-type.js"></script>
    <script src="InBio/assets/js/vendor/wow.js"></script>
    <script src="InBio/assets/js/vendor/aos.js"></script>

    <!-- main JS -->
    <script src="InBio/assets/js/main.js"></script>
    
  </body>
</html>
